{% extends 'master' %}

{% block content %}
  <div>
    <br/>
    <a href="/projects/{{ project_id }}/tasks/{{ task_id }}/file_items" class="btn btn-warning">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      Back To File Item
    </a>
    <br/><br/>
    <table class="table table-striped data-table">
      <thead>
        <tr>
          <td><b>Id</b></td>
          <td><b>Date</b></td>
          <td><b>Process</b></td>
          <td>
            <b>Status</b>
          </td>
          <td><b>Exception</b></td>
          <td><b>Response</b></td>
        </tr>
      </thead>
      {% for log in execute_logs %}
        <tr>
          <td>{{ log.id }}</td>
          <td>{{ log.created_at }}</td>
          <td>{{ log.process }}</td>
          <td>
            {% if log.status == 'error' %}
              <span class="label label-danger">
                <b>{{ log.status }}</b>
              </span>
            {% elif log.status == 'success' %}
              <span class="label label-success">
                <b>{{ log.status }}</b>
              </span>
            {% endif %}
          </td>
          <td>
            {% for name, item in (log.exceptions) %}
              <li>
                {{ name }} : {{ item }}
              </li>
            {% endfor %}
          </td>
          <td>
            {# {% if log.status == 'success' %} #}
              {{ log.response }}
            {# {% else %}
              {% for name, item in (log.response) %}
                <li>
                {{ name }} : {{ item }}
              </li>
              {% endfor %}
            {% endif %} #}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
