{% extends 'master' %}

{% block content %}
  <div>
    <h3>Edit Project</h3>
    {{ form.open({action: 'ProjectController.update', params: {id: project.id}, files:true  }) }}

    {{ csrfField }}

    {% include "./field.njk" %}

    {{ form.submit('Update', 'update', { class: 'btn btn-warning' }) }}

  {{ form.close() }}
  </div>
{% endblock %}
