{% extends 'master' %}

{% block content %}
  <div>
    <br/>
    <a href="/projects/create" class="btn btn-success">
      New Project
    </a>
    <br/><br/>
      {% for project in projects %}
        <div class="col-sm-3">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <b>{{ project.name }}</b>
            </div>
            <div class="panel-body">
              <p>{{ project.description }}</p>
            </div>
            <div class="panel-footer">
              <div class='btn-group'>
                {{ csrfField }}
                <a href="/projects/{{ project.id }}" class="btn btn-xs btn-info">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                </a>
                <a href="/projects/{{ project.id }}/edit" class="btn btn-xs btn-warning">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </a>
                <a href="/projects/{{ project.id }}/tasks" class="btn btn-xs btn-success">
                  <i class="fa fa-tasks" aria-hidden="true"></i>
                </a>
              </div>

              <div style="float:right;">
                {{ form.open({action: 'ProjectController.destroy', method: 'DELETE', params: { id: project.id } }) }}
                  <button type="submit" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                {{ form.close() }}
              </div>

            </div>
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}
