'use strict'

const Lucid = use('Lucid')

class {{name}} extends Lucid {

  static get table () {
    return '{{table}}'
  }

  static get rules () {
    return {
      {% for key, value in fields %}{{ key }} : '{{ value.rules }}',
      {% endfor %}
    }
  }
}

module.exports = {{name}}
