body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  /*font-weight: normal;*/
  font-size: 14px;
  background: #ffffff
}

* {
  padding: 0;
  margin: 0;
}

thead {
  background: #00acc1 !important;
  color: #ecf0f5 !important;
}

.btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: #0e555b !important;
    border-color: #0e555b !important;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #05668D !important;
    border-color: #05668D !important;
}
