{% extends 'master' %}

{% block content %}
  <h2>SQL Editor Lisa Exporter</h2>
  <hr/>
  <div>
    {{ form.open({action: 'ExporterController.runSql', params: {project_id: project_id} }) }}

      {{ csrfField }}

      {% if query %}
        {{ form.input('textarea', 'query', query, { class: 'form-control', id: 'sql-editor' }) }}
      {% else %}
        <textarea class="form-control" id="sql-editor" name="query">SELECT * FROM users</textarea>
      {% endif %}

      <br/>

      <div class="row">

        <div class="col-sm-3">
          <select class="form-control list-select-table">
            <option>Choose table</option>
            {% for table in tables %}
              <option>{{ table }}</option>
            {% endfor %}
          </select>
        </div>

        <div class="col-sm-9">
          <button class="btn btn-warning pull-right" type="submit">
            <i class="fa fa-play" aria-hidden="true"></i>
            Run
          </button>
        </div>

      </div>


    {{ form.close() }}
  </div>

  <hr/>

  <div class="result-sql-container">
    {% include "./table.njk" %}
  </div>

  {% include "./script.njk" %}
{% endblock %}
