{% extends 'master' %}

{% block content %}
  <div>
    <h3>Edit Task</h3>
    {{ form.open({ action: 'TaskController.update', method:'PUT', params: { project_id: project_id, id: task.id}, files:true }) }}

    {{ csrfField }}

    {% include "./field.njk" %}

    {{ form.submit('Update', 'update', { class: 'btn btn-warning' }) }}

  {{ form.close() }}
  </div>
{% endblock %}
