{% extends 'master' %}

{% block content %}
  <div>
    <br/>
    <a href="/projects/{{ project_id }}/tasks/create" class="btn btn-success">
      New Task
    </a>
    <br/><br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <td><b>Name</b></td>
          <td><b>Description</b></td>
          <td><b>Action</b></td>
        </tr>
      </thead>
      {% for task in tasks %}
        <tr>
          <td>{{ task.name }}</td>
          <td>{{ task.description }}</td>
          <td>
            {{ form.open({action: 'TaskController.destroy', method: 'DELETE',
             params: { project_id: project_id, id: task.id } }) }}
            <div class='btn-group'>
              {{ csrfField }}
              <a href="/projects/{{ project_id }}/tasks/{{ task.id }}" class="btn btn-info">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </a>
              <a href="/projects/{{ project_id }}/tasks/{{ task.id }}/edit" class="btn btn-warning">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              {{ form.button('X', 'delete', { class: 'btn btn-danger' }) }}
            <div>
            {{ form.close() }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
