{% extends 'master' %}

{% block content %}
  <div>
    <br/>
    <a href="/projects/{{ project_id }}/tasks" class="btn btn-warning">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
      Back To Task
    </a>
    <br/><br/>

    <table class="table">
      <thead>
        <tr>
          <td>
            {{ form.label('Name') }}
          </td>
          <td style="width:45%;">
            {{ form.label('Description') }}
          </td>
          <td>
            {{ form.label('File Data') }}
          </td>
          <td>
            {{ form.label('Action') }}
          </td>
        </tr>
      </thead>
      <tbody id="bodyAddMore">
        <tr>
          {{ form.open({action: 'FileItemController.store', params: {project_id: project_id, task_id: task_id}, files:true }) }}

          {{ csrfField }}
          <td>
            <select name="file_name" class="form-control list-table">
              {% for table in tables %}
                <option value="{{table}}">{{ table }}</option>
              {% endfor %}
            </select>
          </td>
          <td>
            <input type="text" name="description" class="form-control" />
          </td>
          <td>
            <input type="file" name="file_items" class="form-control" />
          </td>
          <td>
            <button class="btn btn-sm btn-info" type="submit">Submit</button>
          </td>
          {{ form.close() }}
        </tr>
      </tbody>
    </table>

    <br/>
    <table class="table table-striped data-table">
      <thead>
        <tr>
          <td><b>No</b></td>
          <td style="width:25%;"><b>Name</b></td>
          <td style="width:25%;"><b>Description</b></td>
          <td><b>Created At</b></td>
          <td><b>Download</b></td>
          <td><b>Action</b></td>
          <td><b>View Logs</b></td>
          <td><b>Delete</b></td>
        </tr>
      </thead>
      {% for file in file_items %}
        <tr>
          <td>{{ file.id }}</td>
          <td>{{ file.name }}</td>
          <td>{{ file.description }}</td>
          <td>{{ file.created_at }}</td>
          <td>
            <a href="/file_items/{{ file.id }}" class="btn btn-primary">
              <i class="fa fa-download" aria-hidden="true"></i>
              <b>Download</b>
            </a>
          </td>
          <td>
            <a href="/file_items/exe/{{ file.id }}" class="btn btn-danger">
              <i class="fa fa-play" aria-hidden="true"></i>
              <b>Do Import</b>
            </a>
          </td>
          <td>
            <a href="/projects/{{ project_id }}/tasks/{{ task_id }}/file_items/{{ file.id }}"
            class="btn btn-warning">
              <i class="fa fa-list" aria-hidden="true"></i>
              <b>View Logs</b>
            </a>
          </td>
          <td>
            {{ form.open({action: 'FileItemController.destroy', method: 'DELETE', params: { id: file.id } }) }}
            {{ csrfField }}
            <button type="submit" class="btn btn-md btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
            {{ form.close() }}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
