{% extends 'master' %}

{% block content %}
  <div>
    <br/>
    <a href="/projects/{{ project_id }}/tasks" class="btn btn-warning">
      Back To Task
    </a>
    <br/><br/>
    <table class="table table-striped">
      <thead>
        <tr>
          <td style="width:80%;"><b>Name</b></td>
          {# <td><b>Path</b></td> #}
          <td><b>Download</b></td>
          <td><b>Action</b></td>
          <td><b>View Logs</b></td>
        </tr>
      </thead>
      {% for file in file_items %}
        <tr>
          <td>{{ file.name }}</td>
          {# <td>{{ file.files }}</td> #}
          <td>
            <a href="/file_items/{{ file.id }}" class="btn btn-primary">
              <i class="fa fa-download" aria-hidden="true"></i>
              <b>Download</b>
            </a>
          </td>
          <td>
            <a href="/file_items/exe/{{ file.id }}" class="btn btn-danger">
              <i class="fa fa-play" aria-hidden="true"></i>
              <b>Do Import</b>
            </a>
          </td>
          <td>
            <a href="/projects/{{ project_id }}/tasks/{{ task_id }}/file_items/{{ file.id }}"
            class="btn btn-warning">
              <i class="fa fa-list" aria-hidden="true"></i>
              <b>View Logs</b>
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
